.root {
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.form {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;

}

.input-container {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-block: 5px;
}

.input-button {
    margin-block: 10px;
    color: white;
    background-color: royalblue;
    border: none;
    
}

.title{
    margin: auto;
}